[submodule "reference/rhino"]
	path = reference/rhino
	url = https://github.com/hazzik/rhino.git
[submodule "reference/sharpen"]
	path = reference/sharpen
	url = https://github.com/hazzik/sharpen.git
[submodule "src/Sharpen"]
	path = src/Sharpen
	url = https://github.com/hazzik/Sharpen.Runtime.git
